---
layout: base
---
{% include 'header' %}
<main>
  {% if tags contains 'secondary' %}
  {% include 'aside' %}
  {% endif %}
  <section aria-labelledby="{{ title | slug}}">
    <h1 id="{{ title | slug }}">{{ title | capitalize }}</h1>
    {{ content }}
  </section>
  {% if navigation %}
  {% include 'pagination' %}
  {% endif %}
</main>
{% include 'footer' %}